<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Appdbconstring" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=D:\Doctors\Doctors\DocDB.mdf;Integrated Security=True;Connect Timeout=30;" />
  </connectionStrings>
</configuration>